<%- include('header') -%>
<div class="box" id="heading">
    <h1><%= List Title %></h1>
</div>
    <div class="box">
        <% newListItems.forEach((item)=>{%>
            <form action="/delete" method="Post">
                <div class="item">
                   <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
            
                        <p><%= item.name%> </p>
             </div>
             <input type="hidden" name="listName">
            </form>
         <%})%>

         <form action ="/" class="item" method="post">
         <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
         <button name=list button type="submit">+</button>
        </form>
    </div>
<%- include('footer') -%>
   